:root {
    --dust-grey: #dad7cdff;
    --dry-sage: #a3b18aff;
    --fern: #588157ff;
    --hunter-green: #3a5a40ff;
    --pine-teal: #344e41ff;
}

body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dust-grey);
    color: var(--pine-teal);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}